{% extends "base_generic.html" %}

{% comment %}
    lin,leo - index.html will always be found in <app>/templates/index.html instead of any other app.
    There is no solution to magically fix this behavior without modifying the app_directories loader
    and using introspection or passing along app information
{% endcomment %}

{% block content %}
<h1>Local Library Home</h1>

  <p>Welcome to <em>LocalLibrary</em>, a very basic Django website developed as a tutorial example on the Mozilla Developer Network.</p>

<h2>Dynamic content</h2>

  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
  </ul>

    <p>
        You have visited this page {{ num_visits }} time {% if num_visits > 1 %} s {% endif %}
    </p>

{% endblock %}